__pycache__
*.mp4
*.mp3
*.webm
# !combined.mp4
# !ahmet3.mp4
# !ahmet1-3000.mp4
# !damir1-3000.mp4
# !zen1.mp4
# !fight1.mp4
.env
/cached_context*.json
.txt
*.rej
*.log
*.db
*.ttml
*.gif
.venv
.direnv
