git+https://github.com/xnny/EdgeGPT.git#egg=EdgeGPT
gigachat
python-dotenv
hugchat
asyncio
requests
pytz
python-dateutil
python-telegram-bot
# logging
opencv-python
moviepy
aiohttp_socks
bs4
lxml
typing
yt-dlp
ffmpeg-python
