# EdgeGPT
# git+https://github.com/acheong08/EdgeGPT.git@refs/pull/610/merge#egg=EdgeGPT
git+https://github.com/xnny/EdgeGPT.git#egg=EdgeGPT
gigachat
hugchat
asyncio
requests
pytz
python-dateutil
python-telegram-bot
# logging
aiohttp_socks
bs4
lxml
typing
yt-dlp
ffmpeg-python
